@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");
/* global */
:root {
  --color-box-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  color: var(--color-dark-600);
  background-color: var(--color-background-400);
  height: 100%;
  min-height: 110vh;
}

.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dark-theme {
  --color-background-400: #04293a;
  --color-background-500: #041c32;
  --color-dark-700: #c8c6c6;
  --color-success-400: #4e944f;
  --color-dark-600: #fefbf3;
  --color-primary-400: #5995b7;
  --color-primary-900: #325c74;
}

/* containers */

.page-container {
  display: flex;
}

.home-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  min-width: 13rem;
}

.topbar-container {
  display: flex;
  gap: 1rem;
}

.videolist-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-container {
  width: inherit;
  box-shadow: var(--color-box-shadow);
  background-color: var(--color-background-500);
}

.nav-links {
  color: var(--color-primary-400);
  text-transform: uppercase;
  font-size: small;
  font-weight: 700;
}

.theme-icon > * {
  color: var(--color-dark-600);
  margin-right: 1rem;
}

/* utils */

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
}

.flex-space {
  justify-content: space-between;
}

.flex-gap-md {
  gap: 1rem;
  padding: 0 1rem;
}

.margin-left-sm {
  margin-left: 5px;
}

.margin-left-md {
  margin-left: 0.5rem;
}

.margin-top-md {
  margin-top: 20px;
}

.btn-full-width {
  width: 100%;
  margin: 0;
}

.margin-sm {
  margin: 0.5rem 0;
}

.chip {
  border: 1px solid var(--color-secondary-400);
  border-radius: 20px;
  padding: 5px 12px;
}

.loader {
  display: block;
  margin: auto;
}

.margin-auto {
  margin: auto;
}

.horizontal-line {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 0.5rem;
  opacity: 0.6;
}

.cursor-pointer {
  cursor: pointer;
}

/* nav */

.logo {
  height: 60px;
}

.btn-active {
  color: var(--color-dark-600);
  font-weight: 600;
  background-color: var(--color-secondary-200);
}

/* sidebar */

.aside-link {
  color: var(--color-dark-600);
  padding: 0.8rem 1rem;
}

.active {
  color: var(--color-dark-600);
  font-weight: 600;
  background-color: var(--color-secondary-200);
  padding: 0.8rem 1rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* videocard */

.card-container-vertical {
  width: 250px;
  cursor: pointer;
}

.card-body-vertical {
  display: flex;
  align-items: flex-start;
}

.thumbnail-container {
  position: relative;
}

.dots-container {
  position: absolute;
  bottom: -40px;
  right: 0px;
}

.dropdown-container {
  position: absolute;
  bottom: -70px;
  right: 5px;
  background-color: var(--color-background-500);
  font-size: 12px;
  padding: 0.5rem;
  width: 200px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dropdown-wrapper {
  margin: 8px;
}

.dropdown-wrapper:hover {
  color: var(--color-primary-400);
}

/* auth */

.auth-container {
  margin: 3rem 0;
  width: 30%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-wrapper-password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.anchor-text a {
  color: var(--primary);
}

.logout-icon-wrapper {
  display: flex;
  justify-content: center;
  color: var(--color-success-400);
  height: 300px;
}

.back-to-home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* single video page */

.single-video-container {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
  height: 40rem;
}

/* media queries */

@media (max-width: 1024px) {
  .auth-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .auth-wrapper-password {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
  }
}
